/* hero slider styles */
.hero-slide {
  font-family: var(--montserrat);
  position: relative;
}

.hero-slide div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-slide img {
  animation: kenburns-top 16s infinite ease-out both alternate;
}
.hero-slide div h1 {
  font-family: var(--italiana);
  font-size: 7.5rem;
  font: 900;
  color: white;
}
.hero-slide div button {
  width: 170px;
  height: 45px;
  font-weight: 600;
  font-size: small;
  background: black;
  border: none;
  outline: none;
  color: white;
  display: block;
  margin-inline: auto;
}

/* active slide animations */
.slick-active .hero-text h1 {
  -webkit-animation: tracking-in-contract 2.4s
    cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: tracking-in-contract 2.4s cubic-bezier(0.215, 0.61, 0.355, 1)
    forwards;
}

.slick-active .hero-text button {
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1s;
}

/* text animation 1 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* slide in bottom */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .hero-slide {
    height: 600px;
  }
  .hero-slide img {
    height: 600px;
  }
  .hero-slide div h1 {
    font-size: 5rem;
  }
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
