/* right side drawer scrollbar style */

.right-drawer-items-con::-webkit-scrollbar {
  width: 5px;
}

.right-drawer-items-con::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 1rem;
  visibility: hidden;
  transition: all 0.9s;
}

.right-drawer-items-con:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
