/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato&family=Montserrat&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* style utilities */
:root {
  --pink-gold: #eebfab;
  --light-pink: #d4647c;
  --deep-yellow: #dbca0e;
  --light-gold: #e9d79c;
  --deep-brown: #ad8e72;
  --light-brown: #95523d;
  --charcoal: #363536;
  --italiana: "Italiana", sans-serif;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --lato: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div {
  border: 1px solid red;
} */
